# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Tableau dashboards shouldn't be treated as text or soruce code, don't diff them and treat them as binary
*.twb binary linguist-generated
*.hyper binary linguist-generated
# Photos are truly binary and should not be modified.
*.png binary
*.jpg binary
#Treat csv geojson, and other data files files as files that don't need EOF lines 
*.csv binary
*.geojson binary
*.cpg binary
*.dbf binary
*.prj binary
*.shp binary
*.shp.ea.iso.xml binary
*.shp.iso.xml binary
*.shx binary
*.zip binary
